{% extends 'main/index.html' %}

{% block content %}<div align="center">
        <button onclick="location.href='create'" type="button">Create Customer</button><br><br>
        <button onclick="location.href='read'" type="button">See All Customers</button><br><br>
        <button onclick="location.href='edit'" type="button">Update/Edit Customer Info</button><br><br>
        <button onclick="location.href='delete'" type="button">Delete Customer</button><br><br>
        <button onclick="location.href='../'" type="button">Main Page</button></div>
{% endblock %}