{% extends 'main/index.html' %}

{% block content %}<div align="center">
        <button onclick="location.href='create'" type="button">Create Employee</button><br><br>
        <button onclick="location.href='read'" type="button">See All Employees</button><br><br>
        <button onclick="location.href='edit'" type="button">Update/Edit Employee Info</button><br><br>
        <button onclick="location.href='delete'" type="button">Remove Employee</button><br><br>
        <button onclick="location.href='../'" type="button">Main Page</button></div>
{% endblock %}